<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - {{ character.name }}</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Character</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{{ character.img_url }}" alt="" style="width: 700px; height: 300px;">
                </a>
            </div>
            <div class="col-md-5">
                <h2>{{ character.name }}</h2>
{#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>#}
                <ul>
                  <li>Birth year: {{ character.birth_year }}</li>
                  <li>Height: {{ character.height }}</li>
                  <li>Weight: {{ character.mass }}</li>
                  <li>Hair Color: {{ character.hair_color }}</li>
                   <li>Films: 
                        <ul>
                            {% for film,film_id in character.films.iteritems() %}
                            <li><a href="{{url_for('film', film_id = film_id)}}">{{film}}</a></li>
                            {% endfor %}
                        </ul> 
                      </li>
                      <li>Planets: 
                        <ul>
                            {% for planet,planet_id in character.planets.iteritems() %}
                            <li><a href="{{url_for('planet', planet_id = planet_id)}}">{{planet}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
