<!DOCTYPE html>
<html lang="en">

<head>

    <!-- App global header -->
    {% include 'head.html' %}

    <title>Star Wars - Planets</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Planets</h1>
            </div>
        </div>
        <!-- /.row -->


        <div id="0"> </div>
        <div id="1"> </div>
        <div id="2"> </div>
        <script type="text/jsx">
            var planet_list = JSON.parse({{planets | tojson}});
            console.log(planet_list);

        </script>

        {#TODO: create common stylesheet for img style width and height#}

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
